{{#basics}}
<header>
    <h1 id="resume-name">{{name}}</h1>
    <h2 id="resume-label">{{label}}</h2>
    <div id="contact">
        <p id="email">{{email}}</p>
        <p id="phone">{{phone}}</p>
    </div>
    {{#location}}
        <div id="location">
            <address>
                {{address}}
                {{city}}, {{region}}
            </address>
        </div>
    {{/location}}
</header>
{{/basics}}


<h3>Work Experience</h3>
<ul id="work-experience-list">
{{#work}}
	<li class="work-experience">
		<span class="company">
			{{company}}
                </span>	
		<span class="location">
			{{location}}
		</span>	
		<span class="time-spent">
 			<span class="start-date">{{startDate}}</span>
			<span class="end-date">{{endDate}}</span>
		</span>
		<span class="job-title">{{position}}</span>
                <p class="summary">
			{{{summary}}}
		</p>
		<h4>Highlights</h4>
		<ul class="highlights">
			{{#highlights}}	
				<li>{{.}}</li>
			{{/highlights}}
		</ul>
		<h4>Skills Used</h4>
		<ul class="skills-used">
			{{#skillsUsed}}
				<li>{{.}}</li>
			{{/skillsUsed}}
		</ul>
	</li>
{{/work}}
</ul>

<h3>Education</h3>
<ul>
<ul id="education-list">
{{#education}}
	<li class="education">
		<span class="company">{{institution}}</span>
		<span class="area">{{area}} 
			(<span class="degree-type">{{studyType}}</span>)	
		</span>
	</li>
{{/education}}
</ul>
