body {
  max-width: 61rem;
  margin: 0 auto;
  font-family: open sans, calibri, arial, helvetica, sans-serif;
}

/*
 * Basics/Header
 */
header {
  text-align: center;
  padding-top: 1em;
  margin-bottom: 1.3em;
  padding-bottom: .8em;
  border-bottom: solid 3px #f2f2f2;
}
header #resume-name {
  margin: auto .4em;
}
header #resume-label {
  margin: auto .3em;
  font-weight: normal;
  opacity: .6;
  font-size: 1.2em;
}
header #contact * {
  margin: .2em;
}

/*
 * Work Experience List
 */
#work-experience-list {
  list-style: none;
}
#work-experience-list .work-experience {
  padding-bottom: .7em;
  margin-bottom: 1.1em;
  border-bottom: solid 3px #f2f2f2;
}
#work-experience-list .work-experience .company {
  font-size: 1.3em;
  float: left;
}
#work-experience-list .work-experience .company:after {
  content: " \2013 ";
  margin-right: .2em;
}
#work-experience-list .work-experience .location {
  font-size: 1em;
  line-height: 1.6em;
  float: left;
  opacity: .7;
}
#work-experience-list .work-experience .job-title {
  font-size: 1.2em;
  display: block;
  clear: both;
}
#work-experience-list .work-experience .time-spent {
  opacity: .6;
  float: right;
}
#work-experience-list .work-experience .time-spent .end-date:before {
  content: ' \2013  ';
}
#work-experience-list .skills-used {
  list-style: none;
}
#work-experience-list .skills-used li {
  display: inline;
}
#work-experience-list .skills-used li:after {
  content: ", ";
}
#work-experience-list .skills-used li:last-child:after {
  content:"";
}

/*
 * Work Experience and Education List
 */
#education-list {
  list-style: none;
}
#education-list .education,
#education-list .education {
  padding-bottom: .7em;
  margin-bottom: 1.1em;
  border-bottom: solid 3px #f2f2f2;
}
#education-list .education .company {
  font-size: 1.3em;
  float: left;
}
#education-list .education .company:after {
  content: " \2013 ";
  margin-right: .2em;
}
#education-list .education .area {
  font-size: 1.2em;
  display: block;
}

/* 
 * Print-specific styles
 */
@media print {
  body {
    font-size: 10pt
  }
  a#resume-repo-link {
    display: none;
  }
}
